<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>用户管理</title>
<link href="/admin/styles/style.css" rel="stylesheet" type="text/css" />
<link href="/admin/scripts/jqueryplugin/css/jquery-ui-1.8.10.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/admin/scripts/jquery-1.4.4.min.js" ></script>
<script type="text/javascript" src="/admin/scripts/jqueryplugin/jquery-ui-1.8.10.custom.min.js" ></script>
<script type="text/javascript" src="/admin/scripts/soft/soft_tool.js"></script>
<script type="text/javascript">

	function insertUser(){
			var url="/admin/user/userEdit?op=add";
	   $("#addFrame").attr("src",url);
	   $("#add_dialog").dialog({
			resizable: false, height:400, width:600, modal: true}
		);//end dialog
	}
	
	function edituser(userid){
			var url="/admin/user/userEdit?op=edit&userid="+userid;
	   $("#addFrame").attr("src",url);
	   $("#add_dialog").attr("title","编辑系统用户");
	   $("#add_dialog").dialog({
			resizable: false, height:300, width:600, modal: true}
		);//end dialog
	}
	
	function authority(userid){
			var url="/admin/role/set?userid="+userid;
	   $("#addFrame").attr("src",url);
	   $("#add_dialog").attr("title","设定角色");
	   $("#add_dialog").dialog({
			resizable: false, height:300, width:600, modal: true}
		);//end dialog
	}
	
	function closeDialog(t)
	{
		$("#add_dialog").dialog("close");
		if(t==1)
		{
			window.location.reload();
		}
	}
	
	function deluser(userid){
		
		//var userid=$("#deluser").attr("userid");
		//alert(userid);	
		showmsg("确认删除?","删除系统用户",function(){
			jQuery.ajax({
	   		 type:"POST",
	    	 async: false,
	    	 url:"/admin/user/del",
	   		 data:{userid:userid},
	   		 dataType : 'json',
	  		 beforeSend:function(){
	    	},
	    	success:function(data){
				data=eval(data);
				//alert(data.result);
				window.location.reload();
	    	}
	 		});// end ajax
		});// end showmsg
	
	}
	
	function disallowuser(userid,rule){
		
		//var userid=$("#deluser").attr("userid");
		//alert(userid);	
		var msg="确认冻结?";
		var title="冻结系统用户";
		if(rule=="allow"){msg="确认恢复?";title="恢复系统用户";}
		showmsg(msg,title,function(){
			jQuery.ajax({
	   		 type:"POST",
	    	 async: false,
	    	 url:"/admin/user/disallowuser",
	   		 data:{userid:userid,rule:rule},
	   		 dataType : 'json',
	  		 beforeSend:function(){
	    	},
	    	success:function(data){
				data=eval(data);
				//alert(data.result);
				window.location.reload();
	    	}
	 		});// end ajax
		});// end showmsg
	
	}
	
	function showmsg(msg,title,func){
		$("#msg").html(msg);
		$("#msg").attr("title",title);
		$("#msg").dialog({
			resizable: false, height:200, width:380, modal: true,
			buttons: {
				"确定": function() {		
					func();
					$(this).dialog("close");
				},
				"取消": function() {
					$(this).dialog("close");
				
				}
			}
		});//end dialog
	}

</script>
</head>

<body>
<div class="navigation">当前位置: 权限管理 > 
	
	<a href="/admin/user/list">系统用户管理</a>
		
</div>

<div>
<form action="/admin/user/list" method="GET">
 搜索：  <input name="searchkey" type="text" #if($cm.searchkey) value="$cm.searchkey" #end />
      <input type="submit" class="in_button" style="padding-left:8px;" value="搜索" />
    </form>
	<div style="text-align:right;"><input type="button" id="userEditBt" class="in_button" style="position: relative;right: 70px;top: -20px;width:150px;height:28px;" value="+添加用户" onclick="insertUser()">
    #parse("/admin/inc/page.vm")
</div>


 <table class="plain" width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#BCBCBC">
      
        <tr style="font-weight:bold;">
          <th class="my_order_link">
          	#if("desc" == $cm.seq)
          	<a href="$flowgame3g.genOrderby($pager.currentUrl, 'userid', 'asc')" title="点击排序">用户ID#if("userid" == $cm.orderby)↓#end</a>
          	#else
          	<a href="$flowgame3g.genOrderby($pager.currentUrl, 'userid', 'desc')" title="点击排序">用户ID#if("userid" == $cm.orderby)↑#end</a>
          	#end
          </th>
         <th class="my_order_link">
          	#if("desc" == $cm.seq)
          	<a href="$flowgame3g.genOrderby($pager.currentUrl, 'nickname', 'asc')" title="点击排序">昵称#if("nickname" == $cm.orderby)↓#end</a>
          	#else
          	<a href="$flowgame3g.genOrderby($pager.currentUrl, 'nickname', 'desc')" title="点击排序">昵称#if("nickname" == $cm.orderby)↑#end</a>
          	#end
          </th>
		  ##<th class="my_order_link">
          	##if("desc" == $cm.seq)
          	##<a href="$flowgame3g.genOrderby($pager.currentUrl, 'level', 'asc')" title="点击排序">权限#if("level" == $cm.orderby)↓#end</a>
          	##else
          	##<a href="$flowgame3g.genOrderby($pager.currentUrl, 'level', 'desc')" title="点击排序">权限#if("level" == $cm.orderby)↑#end</a>
          	##end
          ##</th>
		  <th class="my_order_link">
          	#if("desc" == $cm.seq)
          	<a href="$flowgame3g.genOrderby($pager.currentUrl, 'email', 'asc')" title="点击排序">Email#if("email" == $cm.orderby)↓#end</a>
          	#else
          	<a href="$flowgame3g.genOrderby($pager.currentUrl, 'email', 'desc')" title="点击排序">Email#if("email" == $cm.orderby)↑#end</a>
          	#end
          </th>
		  <th class="my_order_link">
          	#if("desc" == $cm.seq)
          	<a href="$flowgame3g.genOrderby($pager.currentUrl, 'phone', 'asc')" title="点击排序">电话#if("phone" == $cm.orderby)↓#end</a>
          	#else
          	<a href="$flowgame3g.genOrderby($pager.currentUrl, 'phone', 'desc')" title="点击排序">电话#if("phone" == $cm.orderby)↑#end</a>
          	#end
          </th>
		  <th class="my_order_link">
          	#if("desc" == $cm.seq)
          	<a href="$flowgame3g.genOrderby($pager.currentUrl, 'status', 'asc')" title="点击排序">状态#if("status" == $cm.orderby)↓#end</a>
          	#else
          	<a href="$flowgame3g.genOrderby($pager.currentUrl, 'status', 'desc')" title="点击排序">状态#if("status" == $cm.orderby)↑#end</a>
          	#end
          </th>
		  <th class="my_order_link">
          	#if("desc" == $cm.seq)
          	<a href="$flowgame3g.genOrderby($pager.currentUrl, 'type', 'asc')" title="点击排序">类型#if("type" == $cm.orderby)↓#end</a>
          	#else
          	<a href="$flowgame3g.genOrderby($pager.currentUrl, 'type', 'desc')" title="点击排序">类型#if("type" == $cm.orderby)↑#end</a>
          	#end
          </th>
		  <th class="my_order_link">     
          	管理操作
          </th>
		  ##<th>操作 </th> 
        </tr>

        <!---->
           #foreach($data in $list)
         	#if($velocityCount % 2 == 0)
        		#set($class = "even")
        	#else
        		#set($class = "odd")
        	#end
        <tr class="$class" onmouseover="$(this).removeClass('$class').addClass('mouse_over');" onmouseout="$(this).removeClass('mouse_over').addClass('$class');">
         
		  <td align=center>
          <span id="datausername$escape.html($data.userid)">$escape.html($data.userid)</span></td>

          <td align=center>
          <span id="datanickname$escape.html($data.nickname)">$escape.html($data.nickname)</span></td>
		
		##<td align=center>
        ##  <span id="datalevel$escape.html($data.level)">$escape.html($data.level)</span></td>
		
		<td align=center>
          <span id="dataemail$escape.html($data.email)">$escape.html($data.email)</span></td>
		
		<td align=center>
          <span id="dataphone$escape.html($data.phone)">$escape.html($data.phone)</span></td>

		<td align=center>
          <span id="dataphone$data.status">#if($data.status=="disallow") 冻结 #else 正常 #end</span></td>
		
		<td align=center><input name="status" type="text" class="my_textfield_sty_2" id="weight$sr.id" size="10" value="$data.type" style="display:none"/>
          <span id="dataphone$data.type">#if($data.type=="1") 全职 #elseif($data.type=="2") 兼职#end</span></td>
		
		<td align=center>
			##<input name="authority" type="button" class="my_textfield_sty_2" id="authority" size="10" value="设定角色"  onclick="authority('$data.userid')"/>&nbsp;&nbsp;
			<input name="edituser" type="button" class="my_textfield_sty_2" id="edituser" size="10" value="编辑"  onclick="edituser('$data.userid')"/>&nbsp;&nbsp;
			<input name="disallowuser" type="button" class="my_textfield_sty_2" id="disallowuser" size="10" value="#if($data.status=="disallow") 恢复 #else 冻结 #end"  onclick="disallowuser('$data.userid',#if($data.status=='disallow') 'allow' #else 'disallow' #end)"/>&nbsp;&nbsp;
          <input name="deluser" type="button" class="my_textfield_sty_2" id="deluser" size="10" value="删除"  onclick="deluser('$data.userid')"/>&nbsp;&nbsp;
        </td>
		#*
          <td align=center>	          
			<span class="my_link_sty">
	          <a onclick="change('$sr.id')" href="#"><span id="mod$sr.id">修改</span></a> 
	          </span>				
	     </td>
	     *#

        </tr>
         #end 

 

      </table>
 <div style="text-align:right;">
    #parse("/admin/inc/page.vm")
</div>     
<table  width=100% border="0" align="center" cellpadding="0" cellspacing="5"  style="margin-top:8px;">
  <tr>

    <td width="400" style="text-align:left; padding-left:15px; font-size:12px;"><span style="text-align:left; padding-left:5px;">


    </span></td>

  </tr>

</table>
<div id="msg" style="display:none" title="提示"></div>
<div id="add_dialog" style="display:none;" title="添加系统用户">
<iframe id="addFrame" src="" width="100%" height="100%" scrolling="auto" frameborder="0"></iframe>
</div>
</body>
</html>