##存放文章的模板
<!DOCTYPE html>
<html>
    <head>
        #parse("/front/inc/header.vm") 
		<meta name="Keywords" content="iOS,iphone,ituns,App Store,market,android,网易手机应用,应用平台,应用市场,网易应用汇,限时免费,冰点降价,手机游戏下载,手机应用下载,塞班,symbian,app,apk"/>
		<meta name="Description" content="网易应用提供全平台、一站式手机应用推荐/下载服务，覆盖400款手机品牌，25000个手机型号；涵盖iphone、android、塞班V3、塞班V5、java五大手机系统平台，超过400000个手机应用" />

        <title>
   		 #if($type=="iphone")
        	${title}_iPhone帮助_帮助中心
        #elseif($type=="android")
        	${title}_Android帮助_帮助中心
        #elseif($type=="s60v3")
        	${title}_塞班V3帮助_帮助中心
        #elseif($type=="s60v5")
        	${title}_塞班V5帮助_帮助中心
        #elseif($type=="java")
        	${title}_Java帮助_帮助中心
        #elseif($type=="excuse")
        	特别声明_帮助中心
        #elseif($type=="contact")
        	关于我们_帮助中心
        #elseif($type=="business")
        	商务合作_帮助中心
        #elseif($type=="about")
        	关于我们_帮助中心
        #end
        </title>
    </head>
    <body>
    	<div class="wrap">
##			#parse("/front/inc/nav.vm")
			<div class="sect pos-r m-t10">
            	<div class="arti">
                	<div class="arti-hd">
                        <div class="arti-hd-c">
                        	<div class="arti-hd-c-content">
                            	<div class="arti-hd-c-content-sp1"></div>
                            </div>
                        </div>
                        <span class="arti-hd-l-sp1"></span>
                        <span class="arti-hd-r"></span>
                    </div>

                    <div class="arti-bd arti-bd-sp1">
                        <div class="arti-bd-content clearfix">
##                        	#parse("/front/help/left.vm")
                            <div class="help-detail">
                            	<div class="m-h55 p-v45">
                                	<h3 class="p-b15"><span class="f-bold f14px">$title</span></h3>
                                    <p>
									$content
                                	#if($type=="iphone"||$type=="android"||$type=="s60v3"||$type=="s60v5"||$type=="java")
                                	<p class="p-v25"><a href="index.html" target="_self" class="a-gray">返回帮助列表 &gt;&gt;</a></p>
									#end
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="arti-ft">
                        <div class="arti-ft-c">
                            <div class="arti-ft-c-content">
                            	<div class="arti-ft-c-content-sp1"></div>
                            </div>
                        </div>
                        <span class="arti-ft-l-sp1"></span>
                        <span class="arti-ft-r"></span>
                    </div>
                </div>
            </div>
			
			#parse("/front/inc/foot.vm")
    </body>
</html>